<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgl-BOS66E44brzIPwg_a9UN2xMrJR_NE</string>
	<key>GCM_SENDER_ID</key>
	<string>283044887519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dylanierugan.AIChat</string>
	<key>PROJECT_ID</key>
	<string>aichatcourse-14fdf</string>
	<key>STORAGE_BUCKET</key>
	<string>aichatcourse-14fdf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283044887519:ios:fc5b2feabac8a8fcaa226a</string>
</dict>
</plist>